.version.index /* version checker */
{
	color: #00000A;
	background-color: #9C31C7;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	min-height: 578px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	width: 100%;
	max-width: 380px;
}

#pu617-4
{
	margin-right: -10000px;
	margin-top: 164px;
	width: 124.74%;
	margin-left: -12.37%;
}

#u617-4
{
	z-index: 5;
	display: block;
	vertical-align: top;
	position: relative;
	width: 79.33%;
	margin-left: 10.34%;
}

#u616
{
	z-index: 4;
	min-height: 131px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-top: 18px;
	position: relative;
	width: 100%;
}

#u768
{
	z-index: 3;
	height: 103px;
	position: relative;
	margin-right: -10000px;
	width: 26.32%;
}

#u763
{
	z-index: 2;
	width: 100px;
	height: 100px;
	min-width: 100px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: -190px;
}

.html
{
	background: #FFFFFF url("../../images/8zlzgr.gif") repeat left top scroll;
}

body
{
	position: relative;
	min-width: 320px;
}

.verticalspacer
{
	min-height: 68px;
}

