#u965-4
{
	display: block;
	vertical-align: top;
}

#u960
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u904
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	max-width: 100000px;
}

#u905
{
	background-color: #FFFFFF;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}


