.version.vw1hig5vdmegzxjh /* version checker */
{
	color: #0000E0;
	background-color: #5B7A6C;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	min-height: 594px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-top: 46px;
	padding-bottom: 24px;
	width: 100%;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}

#u858
{
	z-index: 3;
	min-height: 458px;
	position: relative;
	width: 84.8%;
	margin-left: 7.61%;
}

#u846
{
	z-index: 2;
	min-height: 131px;
	margin-top: 5px;
	position: relative;
	width: 49.38%;
	margin-left: 25.32%;
}

.html
{
	background: #000000 url("../images/fundo.gif") no-repeat center center scroll;
	background-size: cover;
}

body
{
	position: relative;
	min-width: 320px;
}

